@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(350deg);
  }
  75% {
    transform: rotate(600deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes bounce {
  from {
    top: 100px;
  }
  50% {
    top: 75px;
  }
  to {
    top: 100px;
  }
}
/* Loader */
/*.loader-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter:blur(10px);
    animation: disappear 0.3s 1s forwards;
    .loader-content {
        display: flex;
        position: relative;
        width: 80px;
        height: 50px;
        animation: rolling 1s linear infinite ; 
        &::before, &::after {
            content: "";
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            left: 0;
            top: 0;
            background: $primary-color;
            transform: translateX(-10px);
        }
        &::after {
            background: $blue-color;
            right: 0;
            left: auto;
            transform: translateX(10px);
        }
        .loader {
            background-color: $secondary-color;
            width: 15px;
            height: 15px;
            border: 50px;
            animation: bounce 2s ease-in-out;
            &::before, &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                left: 0;
                top: 0;
                background-color: $green-color;
                transform: translateX(20px);   
            }
            &::after {
                background: $green-font-color;
                right: auto;
                left: 0;
                transform: translateX(-20px);
            }
        }
    }
}*/
/*.button-content {
    border-radius: 50px;
    border: none;
    height: 50px;
    background-color: violet;
    color: white;
    transform: scale(0.9);
    transition: 0.8s ease-out;
    &:hover {
        transform: scale(1);
        color: white;
    }
}*/
.full-container {
  background-color: #F3F3F3;
}

.header {
  margin: 20px;
}

.main-container {
  width: 100%;
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.main-container .ohmyfood-title {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}

.div-location {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: #EAEAEA;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.info-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 15px 30px 15px;
}

/* Fonctionnement */
.tips-section {
  width: 100%;
  background-color: white;
  padding: 20px;
}
.tips-section .test {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tips-section .tips-button {
  width: 322px;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.tips-section ol {
  padding: 0;
  gap: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container .button-content {
  padding: 15px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  transform: scale(1);
  transition: 0.4s ease-out;
}
.button-container .button-content:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.button-container .button-content:focus {
  box-shadow: 4px 4px 2px lightgrey;
}

/* Resto */
.resto-section .resto-title {
  padding: 15px;
}
.resto-section .resto-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.resto-section .resto-card img {
  max-width: 100%;
  width: 346px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 0 0 5px 0;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card .new-card {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 12px;
  top: 13px;
  left: 248px;
}
.card .footer-card-title {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  line-height: 0;
}
.card .footer-card-title h4 {
  font-weight: bold;
}

.heart-container {
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  width: 22px;
  height: 21px;
}
.heart-container:hover {
  cursor: pointer;
}
.heart-container .fa-heart {
  position: absolute;
}
.heart-container .fa-solid {
  opacity: 0;
}
.heart-container .fa-solid:hover {
  opacity: 1;
  color: #FF79DA;
}
.heart-container .fa-regular:hover {
  opacity: 0;
}

/*.cards {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/
/*.resto-card img {
    max-width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}*/
/* Footer */
.a {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: white;
}
.a .ohmyfood-title {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  padding: 10px 0 0 20px;
}
.a ol {
  list-style-type: none;
  padding: 0 0 0 20px;
  line-height: 25px;
}

/*# sourceMappingURL=index.css.map */
