@import 'mixin.scss';
@import 'variables.scss';


/* Loader */

/*.loader-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter:blur(10px);
    animation: disappear 0.3s 1s forwards;
    .loader-content {
        display: flex;
        position: relative;
        width: 80px;
        height: 50px;
        animation: rolling 1s linear infinite ; 
        &::before, &::after {
            content: "";
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            left: 0;
            top: 0;
            background: $primary-color;
            transform: translateX(-10px);
        }
        &::after {
            background: $blue-color;
            right: 0;
            left: auto;
            transform: translateX(10px);
        }
        .loader {
            background-color: $secondary-color;
            width: 15px;
            height: 15px;
            border: 50px;
            animation: bounce 2s ease-in-out;
            &::before, &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                left: 0;
                top: 0;
                background-color: $green-color;
                transform: translateX(20px);   
            }
            &::after {
                background: $green-font-color;
                right: auto;
                left: 0;
                transform: translateX(-20px);
            }
        }
    }
}*/



/*.button-content {
    border-radius: 50px;
    border: none;
    height: 50px;
    background-color: violet;
    color: white;
    transform: scale(0.9);
    transition: 0.8s ease-out;
    &:hover {
        transform: scale(1);
        color: white;
    }
}*/

.full-container {
    background-color: $main-color;
    a {
        text-decoration: none;
        color: black;
    }
}

/***** Header *****/

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow:  0 0 5px rgba(0,0,0,.1);
    width: 375px;
    height: 63px;
    .ohmyfood-title {
        font-family: 'Shrikhand', serif;
        font-size: 30px;
    }    
}



.div-location {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #EAEAEA; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.info-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 15px 30px 15px;

}

/***** Boutton *****/

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .button-content {
        padding: 15px;
        font-size: 16px;
        border-radius: 50px;
        border: none;
        color: white;
        background: linear-gradient($secondary-color, $primary-color);
        transform: scale(1);
        transition: 0.4s ease-out;
        &:hover {
            transform: scale(1.15);
            cursor: pointer;
        }
        &:focus {
            box-shadow: 4px 4px 2px lightgrey;
        }
    }
       
}


/***** Fonctionnement *****/


.tips-section {
    width: 100%;
    background-color: white;
    padding: 20px;
        .test {
            display: flex;
            flex-direction: row;
            counter-reset: compteListe;
        } 
        .tips-button {
            margin: 10px 0 10px 0;
            width: 322px;
            height: 72px;
            background-color: #F6F6F6;
            border-radius: 20px;
            border: none;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
            &::before {
                counter-increment: compteListe 1;
                content: counter(compteListe)"";
                background: $primary-color;
                height: 30px;
                width: 30px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                left: 15px;
            }
        }
        .fa-solid {
            position: absolute;
            left: 60px;
        }
        .fa-store {
            color: $primary-color;
        }
        ol {
            padding: 0;
            list-style-type: none;

        }
}



/***** Resto *****/

.resto-section {
    margin-bottom: 50px;

    .resto-title {
        padding: 15px;
    }
    .resto-card {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 19px;
    }
    .resto-card img {
        max-width: 100%;
        width: 346px;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}



.card {
    background-color: white;
    border-radius: 15px;
    padding: 0 0 5px 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    .new-card {
        position: absolute;
        background-color: $green-color;
        color: $green-font-color;
        padding: 6px 12px;
        top: 13px;
        left: 248px;
    }
    .footer-card-title {
        display: flex;
        flex-direction: column;
        padding: 0 0 15px 20px;
        line-height: 0;
        h4 {
            font-weight: bold;
        }
    }
        
}

.heart-container {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 15px;
    justify-content: flex-end;
    min-width: 100%;
    width: 22px;
    height: 21px;
    &:hover {
        cursor: pointer;
    }
    .fa-heart {
            position: absolute;
    }
    .fa-solid {
        opacity: 0;
        
    &:hover{
        opacity: 1;
        /*color:$linear-gradient;
        color: var($secondary-color, $primary-color); ???*/
        color: $primary-color;
    }
    }    
    .fa-regular:hover {
        opacity: 0;
        color: $primary-color;
    }
            
}




/*.cards {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/


/*.resto-card img {
    max-width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}*/

/***** Footer *****/ 

.a {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    color: white;
    .ohmyfood-title {
        font-family: 'Shrikhand', serif;
        font-size: 18px;
        padding: 10px 0 0 20px;
    }
    ol {
        list-style-type: none;
        padding: 0 0 0 20px;
        line-height: 25px;
    }
}
